<head>
    {{> head }}
</head>

<body>
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Hola soy el titulo</h1>

        </div>
        <div class="col-4">
            <img src="C:\Users\link_\Documents\Node Projects\06-WebServer\public\assets\img\Sin título.png" class="img-thumbnail">

        </div>
    </div>
</body>